nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(133, 156, 156);
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/*table admin*/
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}
/*Admin Screen*/

.top {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.admin {
  margin-left: 30px;
}

.add {
  margin-right: 30px;
}
/*stats page*/

.top {
  display: flex;
  justify-content: space-around;
}
.ul-sell {
  flex-direction: column;
  line-height: 5rem;
  font-weight: bold;
  list-style: none;
}
.ul-sell2 {
  flex-direction: column;
  line-height: 5rem;
  font-weight: bold;
  list-style: none;
}
.ul-sell3 {
  flex-direction: column;
  line-height: 5rem;
  font-weight: bold;
  list-style: none;
}

.li {
  box-sizing: border-box;
  border: solid 1px black;
  padding: 50px;
}
